.pirmas {font-weight: bolder; text-align: center; width: 100%;}
.hh {border: 1px solid black; height: 120px; margin: auto; text-align: center; width: 1500px; }
body {
	background-image: url("rokassss.jpg"); 
}
#g {
	text-align: bottom;
}